body {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 48px;
  font-weight: bold;
}

.section {
  width: 100%;

  &--pr {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-image: url("img/section-pr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 786px;
  }
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.magazines {
  padding-top: 97px;
  text-align: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -60px;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
  }

  &__list-item {
    flex: 1 1 33%;
    padding: 0 60px;
    margin-top: 90px;

    @media (min-width: 481px) and (max-width: 992px){
      flex-basis: 50%;
    }
    
    @media (min-width: 320px) and (max-width: 480px) {
      flex-basis: 100%;
    }
  }

  &__list-img {
    margin-bottom: 32px;

    &--smashing-magazine {
      height: 43px;
      width: 165px;
    }

    &--codrops {
      height: 50px;
      width: 148px;
    }

    &--magazine-w {
      width: 64px;
      height: 64px;
    }

    &--pixel-buddha {
      width: 225px;
      height: 24px;
    }

    &--creative-bloq {
      width: 165px;
      height: 34px;
    }

    &--tnw {
      width: 108px;
      height: 34px;
    }
  }
}

.magazines-footer {
  position: relative;
  max-width: 857px;
  margin: 118px auto 20px;
  padding: 0 10px;
  color: #a291a5;
  font-size: 14px;
  text-align: center;
  font-family: 'Lato', sans-serif;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 38px;
    height: 1px;
    width: calc(100% - 76px);
    background-color: #a291a5;
  }
}